<% include ./partials/boilerplate.ejs %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <form class="form-inline" action="/collections" method="post">
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control-plaintext" id="collection_name" placeholder="enter a new collection name">
      </div>
      <button type="submit" class="btn btn-success mb-2">Create Collection</button>
    </form>
    <a class="btn btn-primary" href="/collections">View all Collections</a>
  </div>
</section>
<!--
<div>
  <h1><%= message %></h1>
  <h2><%= documentTitle %></h2>
  <h3><%= subTitle %></h3>
</div>
<% if (showMore === true) { %>
  <div class='more'>
    <p>Quotes App is a compilation of favorite quotes from the students of NYC-WDI. It is super cool and great.</p>
  </div>
<% } %>

<p>We have quotes by <% quoteAuthors.forEach(function(author, index) { %>
  <% if (index !== quoteAuthors.length - 1) { %>
    <%= author %>,
  <% } else { %>
    <%- author -%>
  <% } %>
<% }) -%>.</p>

<a href='/quotes'>See all quotes</a>
-->
<% include ./partials/footer.ejs %>
